/DesingPatters_Adapter/target/
/DesingPatterns_Composite_Exercicio/target/
/DesingPatterns_Decorator/target/
/DesingPatterns_FactoryMethod/target/
/Exercicios/DesingPattern_Adapter_Ex/target/
/Exercicios/DesignPatternExFixacao/target/
/Exercicios/DesignPatterns_Adapter_Exercicio/target/
/Exercicios/DesignPatterns_Composite_Exercicio/target/
/Exercicios/DesignPatterns_Decorator_Ex/target/
/Exercicios/DesignPatterns_FactoryMethod_Ex/target/
/Exercicios/DesignPatterns_Observer_Ex/target/
/Exercicios/DesignPatterns_Singleton_Exercicio/target/
/Exercicios/DesignPatterns_Strategy_Ex/target/
/Exercicios/DesignPatterns_Singleton_Ex/target/
/Exercicios/DesignPatterns_Composite_Ex/target/
/Exercicios/DesignPatterns_Adapter_Ex/target/
